.deleteDialog_container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.delete-dialog-none{
display: none;
}

.dialog{
    width: 30%;
    border: 1px solid #ccca;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

.dialo_text{
    padding: 30px;
    text-align: center;
}


.form{
    border: 1px solid #ccca;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}
.form-none{
    display:none;

}

.form__container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.close{
    float: right;
    cursor: pointer;
    color: #D93F3F;
    padding: 3px;
}

.close:hover{
background-color: #D93F3F;
color: white;
}
.form__items {
    margin: 20px 0;
    padding: 0;
}

.form__items li{
    list-style: none;
    width: 100%;
    margin-top: 15px;
    line-height: 25px;
}

.form__items li label{
    display: block;
    font-size: 15px;
}

.form__items li input{
width: 250px;
height: 15px;
border: 1px solid #C3C1C1;
border-radius: 3px;
padding: 10px;
}

.form__footer{
    width: 100%;
    display: flex;
    justify-content: center;
}


